<div style="flex: 8;">

  <div>
    <div class="chat-container" style="overflow-y: auto; max-width: 1200px; background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 5px; height: 80vh; margin: 0 auto; margin-top: 20px;">
      <% @entries.each do |e| %>
        <% if @myUserId != e.user.id %>
            <div style="background-color: #17a2b8; display: flex; justify-content: space-between; color: white;">
              <%= link_to "<", users_path, style: "color: white; font-size: 25px; margin-left: 25px;"%>
              <h2><%= e.user.name %>さんとのトークルーム</h2>
              <div></div>
            </div>
        <% end %>
      <% end %>
    
      <% @messages.each do |m| %>
          <div style="padding: 20px; ">
            <% if @myUserId != m.user.id %>
              <div class="message" style="display: flex; margin-bottom: 20px;">
                  <%= image_tag m.user.profile_image, style:  "width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;" %>
                  <div class="message-content" style="max-width: 60%; background-color: #e6e6e6; border-radius: 10px; padding: 10px; position: relative;">
                    <p style="word-break: break-all; text-align: left;"><%= m.message %> </p>
                      <span class="time" style="font-size: 12px; color: #888; position: absolute; bottom: -18px; right: 10px;"><%= m.created_at.strftime("%I:%M%p")  %></span>
                  </div>
              </div>
            <% else %>
              <div class="message self" style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
                <div class="message-content" style="max-width: 70%; background-color: #dcf8c6; border-radius: 10px; padding: 10px; position: relative; text-align: right;">
                    <p style="word-break: break-all; text-align: left;"><%= m.message %> </p>
                    <span class="time" style="font-size: 12px; color: #888; position: absolute; bottom: -18px; right: 10px;"><%= m.created_at.strftime("%I:%M%p")  %></span>
                    <span class="read-status" style="font-size: 12px; color: #888; position: absolute; bottom: -18px; left: 10px; display: none;">Read</span>
                </div>
            </div>
            <% end %>
          </div>
      <% end %>

      </div>
       <%= form_for(@message, :html => { :class => "row", :style => " display: flex; width: 100%;  margin-left: 0px;"} ) do |f| %>
                <%= f.text_field :message, placeholder: "メッセージを入力して下さい（１００文字以内）" , style: "border: 3px #1062a8 solid;padding: 8px;border-radius: 25px; margin-bottom: 10px; width: 71%; margin-left: 0 auto; margin-left: 10%;" %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.submit "送信", style: "color: white; padding: 8px;border-radius: 12px; margin-bottom: 10px; width: 10%; border: 3px white solid;; background-color: #17a2b8; "%>
              <% end %>
      </div>
</div>