<table>
  <tbody>
    <% post.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to user_path(post_comment.user) do %>
          <%= post_comment.user.name %>
        <% end %>
      </td>
      <td>
        <div style="margin-left: 5px;"><%= post_comment.comment %></div>
      </td>
      <td>
        <% if post_comment.user == current_user %>
          <div style="margin-left: 20px;">
            <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-secondary", style: "padding: 0.1rem 0.5rem; font-size: 1rem;" %>
          </div>
        <% end %>
        <small class="text-muted"><%= post_comment.created_at.strftime("%Y/%m/%d %H:%M") %></small>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>