<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>プロフ<br>画像</th>
      <th>アカウント名</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="align-middle"><%#= image_tag user.get_profile_image(50,50), class: "rounded-circle"; %></td>
        <td class="align-middle"><%= user.name %></td>
        <td class="align-middle">フォロー数: <%= user.followings.count %></td>
        <td class="align-middle">フォロワー数: <%= user.followers.count %></td>
        <td class="align-middle"><%= render "user/relationships/btn", user: user, options: { class: "follow-link" } %></td>
        <td class="align-middle"><%= link_to "プロフィール画面へ", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>