<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>




<div class="row" style="justify-content: center; margin-top: 150px;">
  <div style="width: 40%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div><h1>en:wealthyへようこそ！</h1></div>
    <div style="margin-top: 10px; font-size: 1.3rem">
      <p>en:wealthyは自分の技術を見てほしい人、取り組みを応援する人、役に立ちたい人が好きなみんなのための街のような場所。</p>
      <p>好みのクリエイターやコンテンツを見つけたり、自分の知らないものを知ったりして学べます。</p>
      <p>いっしょに、情報の輪を広げていきましょう。</p>
    </div>
  </div>

  <div style="width: 40%;">
    <div style="width: 60%; margin: 0 auto;">
      <h4>ログインをしてください</h4>
      <div style="width: 90%; border: 2px solid gray; border-radius: 10px;">

        <div style="padding: 20px 30px 20px 30px;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
          <div style="margin-top: 10px;"><%=link_to "トップ画面へ", root_path %></div>
          <%= render "admin/shared/links" %>
        </div>
    </div>
  </div>
</div>

<footer>
  <p style="text-align: center; margin-top: 10rem;">All rights reserved. ©2024 Aoi Kawata</p>
</footer>