<div class="new_posts">
  <h1>新規ポスト</h1>
  
  <%= form_with model: post do |f| %>
    <div class="f-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="f-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: 5 %>
    </div>

    <div class="f-group">
      <%= f.label :industry %>
      <%= f.text_field :industry, class: "form-control" %>
    </div>

    <div class="f-group", style= "margin-bottom: 10px;" >
      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control" %>
    </div>

    <%= f.submit '投稿', class: "btn btn-primary" %>
  <% end %>
</div>

