<div class="my_page1", style="padding: 10px; height: 350px; border: 2px solid gray; border-radius: 10px; margin: 30px 0px 0px 100px;">
  <h4>プロフィール</h4>
    <%= image_tag @user.get_profile_image(80,80) %>
  <table class="table">
   <tbody>
      <tr>
        <th scope="row">名前</th>
        <td><%= @user.name %>
        <% if @user.is_celebrity %>
          <i class="fa-solid fa-circle-check" style="color: #17a2b8;"></i>
        <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">自己紹介</th>
        <td><%= @user.introduction %></td>
      </tr>
    </tbody>
  </table>
    <tr>
      <th><%= @user.followings.count %></th>
      <th>フォロー</th>
    </tr>
    <tr>
      <th><%= @user.followers.count %></th>
      <th>フォロワー</th>
    </tr>
    <div style="margin-top:5px;">
      <%= button_to "アカウント削除", admin_user_path(@user), data: { confirm: "本当に削除して宜しいですか?削除するとアカウントの復旧はできません。", turbo_confirm: "本当に削除して宜しいですか？削除するとアカウントの復旧はできません。" }, method: :delete %>
    </div>
    <div style="margin-top:5px;">
      <%
        if @user.is_celebrity
          now_text = "権限アリ"
            next_text = "権限ナシ"
          else
            now_text = "権限ナシ"
            next_text = "権限アリ"
          end
      %>
      <%= button_to "スレベリーの切り替え", admin_is_celebrity_path(@user.id), data: { confirm: "現在 : #{now_text} です。", turbo_confirm: "#{next_text} に変更してよいですか？" }, method: :get %>
    </div>
</div>

<div class="my_page2">
  <div style= "width: 75%; margin:0 auto;">
    <ul class="nav nav-tabs nav-fill" role="tablist" id="tags">
      <li class="nav-item">
        <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">投稿一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">いいね一覧</a>
      </li>
    </ul>
  </div>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
        <% if @posts.any? %>
          <%= render 'admin/posts/posts', posts: @posts %>
        <% else %>
          <div style="width: 200px;margin: 0 auto; margin-top: 90px;">投稿が見つかりません。</div>
        <% end %>
      </div>
      <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
        <% if @favorite_posts.any? %>
          <%= render 'admin/posts/posts', posts: @favorite_posts %>
        <% else %>
          <div style="width: 200px;margin: 0 auto; margin-top: 90px;">投稿が見つかりません。</div>
        <% end %>
      </div>
    </div>
</div>

<% if params[:from_bookmark].present? %>
  <script>
    const tab1 = document.getElementById('item1-tab')
    tab1.setAttribute('area-controls', false)
    tab1.setAttribute('class', 'nav-link')
    const tab2 = document.getElementById('item2-tab')
    tab2.setAttribute('area-controls', true)
    tab2.setAttribute('class', 'nav-link active')
    const content1 = document.getElementById('item1')
    content1.setAttribute('class', 'tab-pane fade')
    const content2 = document.getElementById('item2')
    content2.setAttribute('class', 'tab-pane fade show active')
  </script>
<% end %>