<header>
  <nav style="display: flex;">
    
      <div class="logo">
        <a href="<%= posts_path %>">
          <%= image_tag "PF_logo.png", size: "220x70" %>
        </a>
      </div> 
      
      <div class="search_form_container">
        <% if user_signed_in? %>
          <%= render "user/searches/form" %>
        <% elsif admin_signed_in? %>
          <%= render "admin/searches/form" %>
        <% end %>
      </div>
      
      <div class="header_buttons" style="display: flex; height: 2.45rem;">
        <% if user_signed_in? %>
          <%= link_to "ポスト", new_post_path, class: "btn btn-primary", style: "list-style: none;" %>
        <li class="dropdown" style="display: block; margin-left: 5px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.notifications.where(read: false).exists? %>
              <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
            <% else %>
              <i class="fa-sharp fa-solid fa-bell"></i>
            <% end %>
            <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <% if current_user.notifications.where(read: false).any? %>
              <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
              <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
              <% end %>
            <% else %>
              <span class="dropdown-item disabled">未読の通知はありません</span>
            <% end %>
          </div>
        </li>
        <% end %>
      </div>
      
  </nav>
</header>