<header>
  <nav style="display: flex;">
    
      <div class="logo">
        <a class=""><span>en:Wealthy</span></a>
      </div> 
      
      <div class="search_form_container">
         <%= render "user/searches/new_form" %>
      </div>
      
      <div class="header_buttons", style="display: flex; height: 2.45rem;">
       <% if user_signed_in? %>
        <%= link_to "ポスト", new_post_path, class: "btn btn-primary ", style: "list-style: none;" %>
        <li class="dropdown", style="display: block; margin-left: 5px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              通知
              <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% if current_user.notifications.where(read: false).any? %>
                <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                  <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
                <% end %>
              <% else %>
                <span class="dropdown-item disabled">未読の通知はありません</span>
              <% end %>
            </div>
          </li>
       <% elsif admin_signed_in? %>
            <!-- 管理者がログインしている時 -->
            <li class="nav-item"><%= link_to "About", user_homes_about_path, class: "btn btn-outline-warning text-dark"  %></li>
            <li class="nav-item"><%= link_to "Log out", destroy_admin_session_path, class: "btn btn-outline-warning text-dark" , method: :delete %></li>
        <% end %>
      </div>
      
  </nav>
</header>