<!DOCTYPE html>
<html>
  <head>
    <title>en:Wealthy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1f851bdcdd.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="width: 96%; margin: 0 auto;">
    <!-- ヘッダー-->

    <%= render "layouts/header" %>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <% if current_user %>
      <div style="display: flex;">
        <div class="sidebar">
          <%= link_to raw('<i class="fa-solid fa-house"></i> ホーム'), posts_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-regular fa-user"></i> ユーザ一覧'), users_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-regular fa-address-card"></i> マイページ'), user_path(current_user), class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-regular fa-pen-to-square"></i> ポスト'),  new_post_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-regular fa-heart"></i> ブックマーク'), user_path(current_user, from_bookmark: true),  class: "sidebar_link", data: { turbolinks: false } %>
          <%= link_to raw('<i class="fa-solid fa-paperclip"></i> 概要'), user_homes_about_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-solid fa-right-from-bracket"></i> ログアウト'), destroy_user_session_path, method: :delete, class: "sidebar_link" %>
        </div>
      
      <% elsif admin_signed_in? %>
      <div style="display: flex;">
        <div class="a_sidebar">
          <%= link_to raw('<i class="fa-solid fa-house"></i> ホーム'), admin_root_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-regular fa-user"></i> ユーザ一覧'), admin_users_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-solid fa-house"></i> ポスト一覧'), admin_posts_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-solid fa-paperclip"></i> 概要'), about_path, class: "sidebar_link" %>
          <%= link_to raw('<i class="fa-solid fa-right-from-bracket"></i> ログアウト'), destroy_user_session_path, method: :delete, class: "sidebar_link" %>
        </div>
      
      <% end %>
        <%= yield %>
      </div>
      </div>
    </main>

    <!-- フッター-->
    <%= render "layouts/footer" %>
  </body>
</html>
